alabaster>=0.7.13
asn1crypto>=1.5.1
babel>=2.12.1
certifi>=2023.5.7
cffi>=1.15.1
chardet>=5.1.0
cryptography>=41.0.1
cython>=0.29.35
docutils>=0.20.1
entrypoints>=0.4
flake8>=6.0.0
idna>=3.4
imagesize>=1.4.1
jinja2>=3.1.2
markupsafe>=2.1.3
mccabe>=0.7.0
oscrypto>=1.3.0
packaging>=23.1
parameterized>=0.9.0
pycodestyle>=2.10.0
pycparser>=2.21
pyflakes>=3.0.1
pygments>=2.15.1
pyparsing>=3.0.9
pytz>=2023.3
requests>=2.31.0
setuptools-scm>=7.1.0
six>=1.16.0
snowballstemmer>=2.2.0
sphinx>=7.0.1
urllib3>=2.0.3