name: Code quality
on:
  push: {}
  pull_request: {}
env:
  UV_PYTHON_PREFERENCE: only-system
  UV_NO_SYNC: "1"
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Acquire sources
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          architecture: x64

      - name: Install lint dependencies
        run: uv sync --no-dev --exact --group lint

      - name: ruff format
        run: uv run ruff format --diff .

      - name: ruff check
        run: uv run ruff check --diff .